<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/index.css">
    <!-- <link rel="stylesheet" href="../js/bootstrap.js"> -->
    <link rel="stylesheet" href="../js/bootstrap.bundle.js">
    <!-- <link rel="stylesheet" href="../js/bootstrap.esm.js"> -->

    <title>Acceuil</title>
</head>
<body>
    <!-- Nav Bar Acceuil -->
    <div class="container-fluid">
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <div class="left-item">
                    <a class="navbar-brand" href="/pages/index.html">
                        <img src="../ressources/acceuil.jpeg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                        Acceuil
                    </a>
                    <form class="d-flex nav-left" role="search">
                        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">OK</button>
                    </form>
                </div>
                <div class="right-item">
                    <a class="navbar-brand" href="/pages/connexion.html" >
                        Connexion
                    </a>
                    <a class="navbar-brand" href="/pages/profil.html">
                        <img src="../ressources/profil.jpeg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    </a>
                </div>
            </div>
          </nav>
    </div>

    <!-- Profile -->

    <div></div>

    <!-- catalogue -->
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Produit</th>
              <th scope="col">Référence</th>
              <th scope="col">Description</th>
              <th scope="col">Image</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td> <button class="btn btn-outline-success" type="button" style="display: flex;">Like</button> </td>
            </tr>
        </tbody>

    </table>
    </div>



</body>
</html>